.add-form {
    display: flex;
    flex-direction: column;
  }
  
  .add-form__label {
    margin-bottom: 10px;
    @include font(14px, 18px);
    font-weight: 700;
  }
  
  .add-form__wrapper {
    display: flex;
    align-items: center;
  }
  
  .add-form__field {
    padding: 10px;
    margin-right: 10px;
    width: 100%;
  }
  
  .add-form__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  
    &:focus svg,
    &:hover svg {
      opacity: 0.7;
    }
  }