.weather-card {
    margin-bottom: 10px;
  }
  
  .weather-card__title {
    @include font(14px, 18px);
    margin: 0;
    margin-bottom: 10px;
  }
  
  .weather-card__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  
  .weather-card__img-wrapper {
    width: 150px;
  }
  
  .weather-card__img {
    width: 100%;
    height: 130px;
    object-fit: cover;
  }
  
  .weather-card__temperature {
    @include font(38px, 42px);
  }
  
  .weather-card__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .weather-card__text {
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .weather-card__value {
    margin-left: 7px;
  }